<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Inicio - Arte Realista</title>
</head>

<body onload='metod.finLoader()'>

    <header>
        <div id="header_logo">
            <img src="imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <li id="menu" class="menu">
            <a> Abrir Menu</a>
        </li> 

        <li id="inicio" class="item">
            <a href="index.html"> Inicio </a>
        </li> 

        <li id="galeria" class="item">
            <a href="pages/galeria.html">Galeria </a>
        </li>

        <li id="tutoriales" class="item">
            <a href="pages/tutoriales.html"> Tutoriales </a>
        </li>

        <li id="login" class="item">
            <a href="pages/registro.html"> Login / registro</a>
        </li>

        <li id="mi_cuenta" class="item">
            <a href="pages/mi-cuenta.html"> Mi Cuenta </a> 
        </li>
    </nav>

    <section>
        <div id="presentacion">
            <img src="Imagenes/anterior-icono.png" id="img_anterior">
            <div id="texto_presentacion">
                <img src="Imagenes/titulo-portada.png" id="titulo_presentacion">
                <p> Este sitio es un portfolio personal de mis trabajos
                en el cual tambien econtraras diversos tutoriales donde
                muestro en detalle las tecnicas que utilizo.
                </p>
                <button id="ver_tuto" onclick="window.location.href='pages/tutoriales.html'">VER TUTORIALES</button>
            </div>   
            <img src="Imagenes/sig-icono.png" id="img_siguiente">
        </div>

        <div id="contenedor">
            <div id="galeria_inicio" class="descripciones">
                <img src="imagenes/icono-galeria.png" alt="galeria">
                <h4><a href="pages/galeria.html">Galeria</a></h4>
                <p>En esta seccion podras encontrar un catalogo
                    de mis mejores trabajos
                </p>
            </div>
    
            <div id="tutoriales_inicio" class="descripciones">
                <img src="imagenes/icono-tutoriales.png" alt="galeria">
                <h4><a href="pages/tutoriales.html">Tutoriales</a></h4>
                <p>Aqui podras encontrar tutoriales de las tecnicas que empleo
                </p>
            </div>
    
            <div id="mi_cuenta_inicio" class="descripciones">
                <img src="imagenes/icono-user.png" alt="galeria">
                <h4><a href="#">MI CUENTA</a></h4>
                <p> Esta seccion te permitira modificar tus datos de usuario
                </p>
            </div>
        </div>

    </section>

    <footer>
        <div id="logo_footer">
            <img src="imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>
    
    <script src="js/nav.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/inicio.js"></script>
</body>
</html>