//----------------- FUENTES -----------------//
@font-face {
    font-family: fuente1;
    src: url("/Template/fuentes/Astronomus.ttf");
}

@font-face {
    font-family: fuente2;
    src: url("/Template/fuentes/conthrax-sb.ttf");
}

@font-face {
    font-family: fuente3;
    src: url("/Template/fuentes/Indian\ Personal\ Use.ttf");
}

@font-face {
    font-family: fuente4;
    src: url("/Template/fuentes/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: fuente5;
    src: url("/Template/fuentes/LEMONMILK-Medium.otf");
}

@font-face {
    font-family:quicksand;
    src: url("/Template/fuentes/quicksand/Quicksand-Regular.otf");
}

@font-face{
    font-family: hattori;
    src: url("/Template/fuentes/Hattori-Hanzo/Hattori_Hanzo.otf");
}

@font-face{
    font-family: walkway;
    src: url("/Template/fuentes/Walkway/Walkway_Black.ttf");
}

@font-face{
    font-family: tulia;
    src: url("/Template/fuentes/tulia/Tulia_regular.otf");
}


@font-face{
    font-family: bodonitown;
    src: url("/Template/fuentes/Bodonitown/Bodonitown.ttf");
}

@font-face{
    font-family: bebas;
    src: url("/Template/fuentes/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face{
    font-family: lora;
    src: url("/Template/fuentes/Lora/Lora-VariableFont_wght.ttf");
}

@font-face{
    font-family: spectral;
    src: url("/Template/fuentes/Spectral_SC/SpectralSC-Light.ttf");
}

@font-face{
    font-family: stoke;
    src: url("/Template/fuentes/Stoke/Stoke-Light.ttf");
}

@font-face{
    font-family: mate;
    src: url("/Template/fuentes/Mate_SC/MateSC-Regular.ttf");
}

@font-face{
    font-family: port;
    src: url("/Template/fuentes/Port_Lligat_Slab/PortLligatSlab-Regular.ttf");
}

@font-face{
    font-family: goudy;
    src: url("/Template/fuentes/Goudy_Bookletter_1911/GoudyBookletter1911-Regular.ttf");
}

@font-face{
    font-family: della;
    src: url("/Template/fuentes/Della_Respira/DellaRespira-Regular.ttf");
}