/* Scss Document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th, caption {
  font-weight: normal;
  text-align: left;
}

img, fieldset {
  border: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

q:before, q:after {
  content: "";
}

@font-face {
  font-family: fuente1;
  src: url("/View/fuentes/Astronomus.ttf");
}
@font-face {
  font-family: fuente2;
  src: url("/View/fuentes/conthrax-sb.ttf");
}
header {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("/View/Imagenes/fondo-lado-izq.png"), url("/View/Imagenes/fondo-lado-der.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  font-family: fuente1;
}
header #header_logo {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
header #header_logo img {
  width: 225px;
  cursor: pointer;
}
header #header_logo img:hover {
  width: 235px;
  transition: ease-out 0.5s;
}
header #header_opciones {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    background-size: 50% 100%;
  }
  header #header_opciones {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: flex-start;
    list-style: none;
  }
  header #header_opciones li {
    display: flex;
    margin-right: 20px;
  }
  header #header_opciones li a {
    text-decoration: none;
    color: white;
    background: #2877ED;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  header #header_opciones li:hover {
    text-decoration: underline;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    background-size: contain;
  }
}
.nav_vertical_hidden {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #2877ED;
  color: white;
  padding: 0;
  font-family: fuente1;
}
.nav_vertical_hidden a {
  text-decoration: none;
  cursor: pointer;
}
.nav_vertical_hidden a:hover {
  text-decoration: underline;
}
.nav_vertical_hidden .menu {
  display: flex;
  cursor: pointer;
}
.nav_vertical_hidden .item {
  display: none;
}

.nav_vertical_visible {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
  background: #2877ED;
  color: white;
  padding: 0;
  font-family: fuente1;
}
.nav_vertical_visible a {
  list-style: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #6FAEFE;
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
}
.nav_vertical_visible a:hover {
  text-decoration: underline;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #nav {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 40px;
  }
  #nav a {
    cursor: pointer;
  }
  #nav .menu {
    display: none;
  }
  #nav .item {
    display: flex;
  }
  #nav #mi_cuenta {
    display: none;
  }
  #nav #login {
    display: none;
  }
  .nav_vertical_hidden {
    display: none;
  }
  .nav_vertical_visible {
    display: flex;
    flex-direction: row;
  }
}
footer {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 4/5;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #4693FF;
  background-image: url("/View/Imagenes/fondo-version-1.png");
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  padding-bottom: 10px;
}
footer #logo_footer {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
footer #logo_footer img {
  width: 175px;
}
footer #descripcion_footer {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-family: fuente1;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
footer #descripcion_footer img {
  width: 40px;
  margin-left: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    padding-bottom: 20px;
  }
  footer #logo_footer img {
    width: 190px;
  }
  footer #descripcion_footer {
    flex-wrap: wrap !important;
    font-size: 1.5rem;
  }
  footer #descripcion_footer img {
    width: 45px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer #logo_footer {
    align-items: center;
  }
  footer #logo_footer img {
    width: 200px;
  }
  footer #descripcion_footer {
    flex-wrap: wrap !important;
    font-size: 1.25rem;
  }
}
body {
  background-image: url(../../Imagenes/fondo-version-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  width: 21.875rem;
  height: auto;
  background-color: #2877ED;
  margin: 5rem auto 0.625rem;
  border: 2px solid transparent;
  border-radius: 1.25rem;
}
.form__container {
  width: 20rem;
  height: 85%;
  background-color: #fff;
  margin: 3.125rem auto 1.25rem;
  border-radius: 0 0 1.25rem 1.25rem;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 0.625rem;
}
.form__imagen {
  width: 12.5rem;
  display: block;
  margin: -7.5rem auto 0;
}
.form__titulo {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 1.25rem;
}
.form__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form__label--subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.375rem;
}
.form__label--input {
  background: none;
  color: #585656;
  font-size: 18px;
  padding: 0.625rem 0.625rem 0.3125rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #4693FF;
}
.form__label--input:focus {
  outline: none;
  color: #5e5d5d;
}
.form__enviar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__enviar--button {
  background: #2877ED;
  border: none;
  width: 100%;
  color: #fff;
  height: 2.5rem;
  font-size: 1.125rem;
  cursor: pointer;
  transition: 0.5s all;
}
.form__enviar--button:hover {
  width: 95%;
  background-color: #4693FF;
  font-size: 1rem;
  height: 2.1875rem;
  border: 1px solid #000;
  transition: 0.5s all;
}
.form__cuenta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.form__cuenta--texto {
  font-size: 1.125rem;
}
.form__cuenta--link {
  font-size: 1.125rem;
  text-decoration: none;
  color: #2877ED;
  transition: 0.5s all;
}
.form__cuenta--link:hover {
  color: #6FAEFE;
  transition: 0.5s all;
}
.form__olvidar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__olvidar--link {
  font-size: 1.125rem;
  text-decoration: none;
  color: #2877ED;
  transition: 0.5s all;
}
.form__olvidar--link:hover {
  font-size: 1rem;
  color: #6FAEFE;
  transition: 0.5s all;
  text-decoration: underline;
}

/*# sourceMappingURL=formulario.css.map */

/*# sourceMappingURL=formulario.css.map */