<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aves - Dibujo realista</title>
    <link rel="stylesheet" href="../css/pagina-tutoriales-a.css">
</head>
<body onload='metod.finLoader()'>
    <header>
        <div id="header_logo">
            <img src="../imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">  &#129489; Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <li id="menu" class="menu">
            <a> Abrir Menu</a>
        </li> 

        <li id="inicio" class="item">
            <a href="../index.html"> Inicio </a>
        </li> 

        <li id="galeria" class="item">
            <a href="galeria.html">Galeria </a>
        </li>

        <li id="tutoriales" class="item">
            <a href="tutoriales.html"> Tutoriales </a>
        </li>

        <li id="login" class="item">
            <a href="pages/registro.html"> Login / registro</a>
        </li>

        <li id="mi_cuenta" class="item">
            <a href="#"> Mi Cuenta </a> 
        </li>
    </nav>
    <section>
        <div id="portada">
            <img src="../Imagenes/anterior-icono-2.png" id="img_previa" alt="icono">
            <h1 id="titulo_portada"> DIBUJO DE AVES </h1>
            <img src="../Imagenes/sig-icono-2.png" id="img_siguiente" alt="icono">
        </div>

        <div id="informacion">

            <div id="indice">
                <figure>
                    <img src="../Imagenes/icono-index.png" alt="index">
                </figure>
                <h3>Indice</h3>
                <ul>
                    <li id="indice1"> Materiales </li>
                    <li id="indice2"> Paso 1: Boceto </li>
                    <li id="indice3"> Paso 2: Capas base </li>
                    <li id="indice4"> Paso 3: Detalles / textura </li>
                </ul>
                <hr>
            </div>

            <div id="materiales">
                <figure>
                    <img src="../Imagenes/icono-tutoriales-alt-2.png" alt="icono-tutoriales" class="iconos">
                </figure>
                <h3>Materiales Necesarios:</h3>
                <ul>
                    <li> <b>Papel de alto gramaje:</b> para que resista muchas capas de carboncillo.</li>
                    <li> <b>Lapiz de carboncillo:</b> para realizar detalles (preferentemente de dureza media / dura).</li>
                    <li> <b>Carboncillo en barra:</b> para realizar las capas base.</li>
                    <li> <b>Lapiz pastel blanco:</b> será utilizado para remarcar partes donde hay mayor iluminación y parte del pelaje.</li>
                    <li> <b>Borrador:</b> cualquier goma o borrador que tengas disponible.</li>
                    <li> <b>Servilleta:</b> esto sera usado para difuminar el carboncillo. </li>
                </ul>
                <hr>
            </div>

            <div id="paso1" class="pasos">
                <div class="pasos_header">
                    <figure>
                        <img src="../Imagenes/icono-1.png" alt="icono-tutoriales" class="iconos">
                    </figure>
                    <h3> ETAPA 1: Boceto</h3>
                </div>
                <div class="pasos_contenido">
                    <div class="contenedor_refe">
                        <img src="../Imagenes/paso1-aves.jpg" alt="refe-paso1" class="referencia">
                    </div>
                    <p>En esta etapa inicial se busca lograr <b>la estructura base del dibujo</b> y las proporciones
                        correctas, para esto como primera acción se utilizan <b>figuras geometricas</b> simples como
                        se muestra en la imagen de referencia, esto brinda una buena base para ubicar las otras partes
                        de la figura.
                        En este paso se realizan trazos simples y suaves, los detalles serán realizados mas adelante.
                    </p>
                </div>
                <hr>
            </div>

            <div id="paso2" class="pasos">
                <div class="pasos_header">
                    <figure>
                        <img src="../Imagenes/icono-2.png" alt="icono-tutoriales" class="iconos">
                    </figure>
                    <h3> ETAPA 2: Capas base</h3>
                </div>
                <div class="pasos_contenido">
                    <div class="contenedor_refe">
                        <img src="../Imagenes/paso2-aves.jpg" alt="refe-paso1" class="referencia">
                    </div>
                    <p> En este paso lo que se busca lograr son las <b>capas base</b>, es decir los tonos principales de la imagen.
                        Utilizando los carboncillos en barra y la servilleta para difuminar.
                        para esto hay que prestar atención a los niveles de luz y sombra de la figura, para lograr las tonalidades correctas.
                        una practica util en este caso es hacer una <b>paleta de colores</b> en una pedazo de hoja aperte, como se muestra en la imagen de referencia.
                        <b>Importante:</b> en caso de aplicar varias capas sobre una misma parte se debe comenzar por los tonos y colores MAS OSCUROS.
                    </p>
                </div>
                <hr>
            </div>

            <div id="paso3" class="pasos">
                <div class="pasos_header">
                    <figure>
                        <img src="../Imagenes/icono-3.png" alt="icono-tutoriales" class="iconos">
                    </figure>
                    <h3> ETAPA 3: Detalles y textura</h3>
                </div>
                <div class="pasos_contenido">
                    <div class="contenedor_refe">
                        <img src="../Imagenes/paso3-aves.jpg" alt="refe-paso3" class="referencia">
                    </div>
                    <p> En esta ultima etapa nos vamos a centrar en dar textura y los detalles, aqui vamos a utilizar los lapices de carboncillo 
                        ya que permiten dar trazos mas precisos.
                        Para esto es muy importante analizar la <b>composición del pelaje</b>, particularmente caracteriscas como las siguientes:
                        largo, ondulación y grosor.
                        Como ayuda puedes realizar en una hoja aparte una muestra de una parte del pelaje, para tener una idea mas clara de su composición.
                        Esta etapa siempre es la que mas tiempo demanda, es necesario tomarse esta parte con mucha paciencia.
                    </p>
                </div>
            </div>

            <div id="nota">
                <p>NOTA: si deseas marcar este tutorial como completado puedes hacer click en el boton "completado" que esta debajo
                    y si lo deseas puedes calificar el tutorial</p>
            </div>
        </div>

        <div id="botones">
            <button type="button" id="completado">completado &#9989; </button>

            <form>
                <p class="clasificacion">
                  <input id="radio1" type="radio" name="estrellas" value="5" class="estrellas"><!--
                  --><label for="radio1">★</label><!--
                  --><input id="radio2" type="radio" name="estrellas" value="4" class="estrellas"><!--
                  --><label for="radio2">★</label><!--
                  --><input id="radio3" type="radio" name="estrellas" value="3" class="estrellas"><!--
                  --><label for="radio3">★</label><!--
                  --><input id="radio4" type="radio" name="estrellas" value="2" class="estrellas"><!--
                  --><label for="radio4">★</label><!--
                  --><input id="radio5" type="radio" name="estrellas" value="1" class="estrellas"><!--
                  --><label for="radio5">★</label>
                </p>
            </form>
        </div>
        
    </section>

    <footer>
        <div id="logo_footer">
            <img src="../imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="../imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="../imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="../imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="../imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>
    
    <script src="../js/tutorial-portada.js"></script>
    <script src="../js/tutorial-modal.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/loader.js"></script>
    <script src="../js/indice-modal.js"></script>
</body>
</html>