<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundamentos Retratos</title>
    <link rel="stylesheet" href="../css/fundamentos-retrato.css">
</head>

<body onload='metod.finLoader()'>

    <header>
        <div id="header_logo">
            <img src="../imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">  &#129489; Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <li id="menu" class="menu">
            <a> Abrir Menu</a>
        </li> 

        <li id="inicio" class="item">
            <a href="../index.html"> Inicio </a>
        </li> 

        <li id="galeria" class="item">
            <a href="galeria.html">Galeria </a>
        </li>

        <li id="tutoriales" class="item">
            <a href="tutoriales.html"> Tutoriales </a>
        </li>

        <li id="login" class="item">
            <a href="registro.html"> Login / registro</a>
        </li>

        <li id="mi_cuenta" class="item">
            <a href="mi-cuenta.html"> Mi Cuenta </a> 
        </li>
    </nav>
    
    <section>
        <div id="contenido">

            <div id="portada">
                <h3>Fundamentos Retratos</h3>
                <img src="../Imagenes/tutorial-3.jpg" alt="retrato" id="imagen_main">
            </div>

            <div id="materiales" class="seccion">
                <img src="../Imagenes/icono-tutoriales-alt-2.png" alt="icono_galeria" id="icono_galeria">
                <h4> Lista de materiales</h4>
                <ol>
                    <li><b>Papel:</b>hojas de gramaje alto o medio para que pueda resistir varias capas de carboncillo.</li>
                    <li><b>Carboncillo en barra:</b> para realizar fondos y capas bases.</li>
                    <li><b>Lapiz de carboncillo:</b> para realizar detalles.</li>
                    <li><b>Borrador:</b> se utilizara para crear brillos y texturas (puede ser uno comun o moldeable).</li>
                    <li><b>Servilleta:</b> para difuminar el carboncillo con mayor facilidad. (tambien es recomendable usar un difuminador para detalles mas pequeños)</li>
                </ol>
            </div>

            <div id="paso1" class="seccion">
                <img src="../Imagenes/icono-1.png" alt="1">
                <h4>PASO 1: boceto</h4>
                <p>En esta etapa lo que se busca lograr es la estructura base de la figura,
                    para ello lo primero que se hace es trazar figuras simples como referencia tal como se puede observar en 
                    la imagen superior.
                    El circulo representa la mitad superior del craneo y la cuadricula dividida en 3 partes representa la 
                    ubicacion de los rasgos del rostro.
                    Lo importante en este paso es definir las proporciones correctas, esto es como los cimientos de nuestra obra.
                    Es decir es una etapa fundamental en la que no deben haber errores, no dudes en tomarte un tiempo extra para verificar
                    que todas las proporciones sean correctas.
                </p>
            </div>

            <div id="paso2" class="seccion">
                <img src="../Imagenes/icono-2.png" alt="2">
                <h4>PASO 2: Capas bases & rasgos faciales</h4>
                <p>En esta etapa se comienza a aplicar el carboncillo, yo generalmente prefiero empezar definiendo
                    el rostro y dejo la parte del cabello y el fondo para después.
                    lo importante en este paso es lograr las tonalidades correctas, para esto puedes ayudarte haciendo
                    una paleta de colores.
                    Una vez que hayas carboncillo en una area puedes difuminarlo con la servilleta o el difuminador.
                    Como puedes ver en la imange de referencia todavia no se logra un gran nivel de detalle, nos enfocaremos 
                    en ese aspecto en la siguiente etapa.
                    (ten en cuenta que siempre se recomienda empezar por las capas mas oscuras, luego sobre las mismas puedes agregar brillos o tonos mas claros).
                </p>
            </div>

            <div id="paso3" class="seccion">
                <img src="../Imagenes/icono-3.png" alt="3">
                <h4>PASO 3: Detalles y textura</h4>
                <p>Finalmente comenzamos a trabajar en los detalles y la textura.
                    En esta etapa vamos a emplezar casi exclusivamente el lapiz de carboncillo ya que nos 
                    permite crear trazos mas finos y precisos.
                    Este es un proceso bastante repetitivo donde basicamente se agrega capas tras capa de detalles.
                    En el caso del cabello, una vez que se haya hecho el fondo se comienza a trazar los mechones mas claros con el borrador.
                    <!-- <img src="../Imagenes/cabello-proceso.jpg" alt="cabello_proceso" id="cabello"> -->
                    <br>
                    <b>Nota: en la sección siguiente puedes ver un video con todo el proceso, para que puedas ver todos estos conceptos teoricos en practica</b>
                </p>
            </div>

            <div id="video" class="seccion">
                <h4>Video proceso</h4>
                <video width="90%" height="500px" controls>
                    <source src="https://www.youtube.com/watch?v=4pJRUXUKv1c">
                </video>
                <p style="text-align: center;">
                    En este video podras ver como aplico en la practica los conceptos
                    de los que hable previamente, esto te ayudara considerablemente a entender la 
                    teoria explicada. <br>
                    <b>No debes olvidar que es fundamental practicar y practicar para dominar este tipo de tecnicas!!!</b>
                </p>
            </div>

            <div id="cambiar_pagina">
                <p id="materiales_boton">&#9899;</p>
                <p id="paso1_boton">&#9899;</p>
                <p id="paso2_boton">&#9899;</p>
                <p id="paso3_boton">&#9899;</p>
                <p id="video_boton">&#9899;</p>
            </div>

        </div>

        <div id="botones">
            <button type="button" id="completado">completado &#9989; </button>

            <form>
                <p class="clasificacion">
                  <input id="radio1" type="radio" name="estrellas" value="5" class="estrellas"><!--
                  --><label for="radio1">★</label><!--
                  --><input id="radio2" type="radio" name="estrellas" value="4" class="estrellas"><!--
                  --><label for="radio2">★</label><!--
                  --><input id="radio3" type="radio" name="estrellas" value="3" class="estrellas"><!--
                  --><label for="radio3">★</label><!--
                  --><input id="radio4" type="radio" name="estrellas" value="2" class="estrellas"><!--
                  --><label for="radio4">★</label><!--
                  --><input id="radio5" type="radio" name="estrellas" value="1" class="estrellas"><!--
                  --><label for="radio5">★</label>
                </p>
            </form>
        </div>
    </section>

    <footer>
        <div id="logo_footer">
            <img src="../imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="../imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="../imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="../imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="../imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>

    <script src="../js/nav.js"></script>
    <script src="../js/loader.js"></script>
    <script src="../js/tutorial-cambiar-seccion.js"></script>
    <script src="../js/img-modal-tutorial.js"></script>
    <script src="../js/botones-tutoriales.js"></script>
</body>
</html>