<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria - Arte Realista</title>
    <link rel="stylesheet" href="../css/galeria.css">
</head>
<body onload='metod.finLoader()'>
    <header>
        <div id="header_logo">
            <img src="../imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">  &#129489; Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <li id="menu" class="menu">
            <a> Abrir Menu</a>
        </li> 

        <li id="inicio" class="item">
            <a href="../index.html"> Inicio </a>
        </li> 

        <li id="galeria" class="item">
            <a href="galeria.html">Galeria </a>
        </li>

        <li id="tutoriales" class="item">
            <a href="tutoriales.html"> Tutoriales </a>
        </li>

        <li id="login" class="item">
            <a href="registro.html"> Login / registro</a>
        </li>

        <li id="mi_cuenta" class="item">
            <a href="mi-cuenta.html"> Mi Cuenta </a> 
        </li>
    </nav>

    <section>
        <figure class="item_galeria">
            <img src="https://iili.io/HnsONHX.md.jpg" alt="HnsONHX.md.jpg">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOjSt.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOORn.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOeNs.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOUil.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsO4lS.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOrf2.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOLOu.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOQDb.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOtxj.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsODWx.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsObiQ.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOpfV.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnseCfp.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsOy0B.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnseJJ1.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/Hnse9UP.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/Hnse2Og.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/Hnse3ba.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/Hnsed5F.md.jpg" alt="dibujo">
        </figure>
        
        <figure class="item_galeria">
            <img src="https://iili.io/HnseKzJ.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnsefWv.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnseqsR.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/Hnsen0N.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnseogI.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/HnseRzG.md.jpg" alt="dibujo">
        </figure>

        <figure class="item_galeria">
            <img src="https://iili.io/Hnseaql.md.jpg" alt="dibujo">
        </figure>

    </section>

    <footer>
        <div id="logo_footer">
            <img src="../imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="../imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="../imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="../imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="../imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>

    <script src="../js/nav.js"></script>
    <script src="../js/galeria.js"></script>
    <script src="../js/loader.js"></script>
</body>
</html>