<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/login.css">
  <title>Login - Arte Realista</title>
</head>
<body>
<!--MENU-->
<div class="menu">
  <div class="menu__toggle"><ion-icon name="grid-outline"></ion-icon></div>
  <li class="menu__list" style="--i:0;--clr:#1877f2;">
    <a class="menu__list--link" href="../index.html"><ion-icon name="home-outline"></ion-icon></a>
    <b style="--i:0;--clr:#1877f2;">Inicio</b>
  </li>
  <li class="menu__list" style="--i:1;--clr:#25d366;">
    <a class="menu__list--link" href="galeria.html"><ion-icon name="images-outline"></ion-icon></a>
    <b style="--i:1;--clr:#25d366;">Galeria</b>
  </li>
  <li class="menu__list" style="--i:2;--clr:#1da1f2;">
    <a class="menu__list--link" href="tutoriales.html"><ion-icon name="library-outline"></ion-icon></a>
    <b style="--i:2;--clr:#1da1f2;">Tutoriales</b>
  </li>
  <li class="menu__list" style="--i:3;--clr:#ea4c89;">
    <a class="menu__list--link" href="registro.html"><ion-icon name="person-add-outline"></ion-icon></a>
    <b style="--i:3;--clr:#ea4c89;">Registro</b>
  </li>
  <li class="menu__list" style="--i:4;--clr:#0a56c2;">
    <a class="menu__list--link" href="login.html"><ion-icon name="log-in-outline"></ion-icon></a>
    <b style="--i:4;--clr:#0a56c2;">Login</b>
  </li>
  <li class="menu__list" style="--i:5;--clr:#c32aa3;">
    <a class="menu__list--link" href="mi-cuenta.html"><ion-icon name="person-outline"></ion-icon></a>
    <b style="--i:5;--clr:#c32aa3;">Mi Cuenta</b>
  </li>
</div>

<!--FORMULARIO-->

  <form class="form" method="POST" action="">
    <div class="form__container">

      <div class="form__cabecera">
       <img class="form__imagen" src="../Imagenes/icono-user.png" alt="Icono de Usuario">
       <h2 class="form__titulo">Iniciar sesión</h2>
      </div>

      <div class="form__label">
        <div class="form__label--correo">
          <label class="form__label--subtitulo" for="email">Email</label>
          <input class="form__label--input" type="email" name="email" id="email" required autofocus placeholder="correo@correo.com"><br>
        </div>
        <div class="form__label--password">
          <label class="form__label--subtitulo" for="pass">Contraseña</label>
          <input class="form__label--input" type="password" name="pass" id="pass" required autofocus placeholder="Password"><br>
        </div>
      </div>

      <div class="form__grupo--btn">
        <button class="form__grupo--enviar" type="Submit">Ingresar</button>
      </div>
      
      <div class="form__cuenta">
        <a class="form__cuenta--olvidar" href="#">¿Olvidaste la Contraseña?</a>
        <p class="form__cuenta--texto">¿No tienes cuenta?</p>
        <a class="form__cuenta--link" href="registro.html">Registrate</a>
      </div>

    </div>
  </form>

<!--SCRIPTS-->

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
  let toggle = document.querySelector('.menu__toggle');
  let menu = document.querySelector('.menu');
  toggle.onclick = function(){
    menu.classList.toggle('active')
  }
</script>  
</body>
</html>