<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales - Dibujo Realista</title>
    <link rel="stylesheet" href="../css/tutoriales.css">
</head>
<body>
    <header>
        <div id="header_logo">
            <img src="../imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">  &#129489; Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <li id="menu" class="menu">
            <a> Abrir Menu</a>
        </li> 

        <li id="inicio" class="item">
            <a href="../index.html"> Inicio </a>
        </li> 

        <li id="galeria" class="item">
            <a href="galeria.html">Galeria </a>
        </li>

        <li id="tutoriales" class="item">
            <a href="tutoriales.html"> Tutoriales </a>
        </li>

        <li id="login" class="item">
            <a href="pages/registro.html"> Login / registro</a>
        </li>

        <li id="mi_cuenta" class="item">
            <a href="#"> Mi Cuenta </a> 
        </li>
    </nav>

    <section>
        <!-- -------------- BUSCADOR ------------------ -->
        <form id="buscador">
            <label>Introduce lo que deseas buscar:</label>
            <div id="buscador_wrapper">
                <input type="text" id="campo_buscar">
                <button type="button"> &#128270;</button>
            </div>
        </form>

        <!-- -------------- TUTORIALES ------------------ -->
        <div id="tutoriales_seccion">

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto"><h4>DIBUJO DE AVES</h4></div>
                    <ul>
                        <li><u>Categoría:</u> Animales</li>
                        <li><u>Tecnica:</u> Carboncillos</li>
                        <li><u>Dificultad:</u> Media</li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            
        </div>
    </section>

    <footer>
        <div id="logo_footer">
            <img src="../imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="../imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="../imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="../imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="../imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>

    <script src="../js/nav.js"></script>
</body>
</html>