<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales - Dibujo Realista</title>
    <link rel="stylesheet" href="../css/tutoriales.css">
</head>
<body onload='metod.finLoader()'>
    <header>
        <div id="header_logo">
            <img src="../imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">  &#129489; Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <li id="menu" class="menu">
            <a> Abrir Menu</a>
        </li> 

        <li id="inicio" class="item">
            <a href="../index.html"> Inicio </a>
        </li> 

        <li id="galeria" class="item">
            <a href="galeria.html">Galeria </a>
        </li>

        <li id="tutoriales" class="item">
            <a href="tutoriales.html"> Tutoriales </a>
        </li>

        <li id="login" class="item">
            <a href="registro.html"> Login / registro</a>
        </li>

        <li id="mi_cuenta" class="item">
            <a href="mi-cuenta.html"> Mi Cuenta </a> 
        </li>
    </nav>

    <section>
        <!-- -------------- BUSCADOR ------------------ -->
        <form id="buscador">
            <label>Introduce lo que deseas buscar:</label>
            <div id="buscador_wrapper">
                <input type="text" id="campo_buscar" autocomplete="on" value="nombre / tecnica / dificultad">
                <img src="../Imagenes/search-icon.png" id="boton_buscar" alt="icono_buscar">
            </div>
        </form>

        <!-- -------------- TUTORIALES ------------------ -->
        <div id="tutoriales_seccion">

            <figure class="tutoriales_item" id="fundamentos_figura_humana_lapiz_facil" onclick="alert('tutorial aun no disponible')">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-1.JPG" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">FUNDAMENTOS FIGURA HUMANA</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Fundamentos</strong></li>
                        <li>Tecnica: <strong>Lapiz</strong></li>
                        <li>Dificultad: <strong>Facil</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_figura_humana">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="fundamentos_perspectiva_facil_lapiz" onclick="alert('tutorial aun no disponible')">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-2.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">Fundamentos Perspectiva</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Fundamentos</strong></li>
                        <li>Tecnica: <strong>Lapiz</strong></li>
                        <li>Dificultad: <strong>Facil</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_perspectiva">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="fundamentos_retratos_lapiz_carboncillo_facil">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-3.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="fundamentos-retrato.html">FUNDAMENTOS RETRATOS</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Fundamentos</strong></li>
                        <li>Tecnica: <strong>Carboncillo</strong></li>
                        <li>Dificultad: <strong>facil</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_fundamentos_retratos">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="fundamentos_paisajes_pasteles_facil">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-4.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="fundamentos-paisajes.html">Fundamentos Paisajes</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Fundamentos</strong></li>
                        <li>Tecnica: <strong>Pasteles</strong></li>
                        <li>Dificultad: <strong>Facil</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_fundamentos_paisajes">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="paisajes_nevados_media_pasteles" onclick="alert('tutorial aun no disponible')">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-5.jfif" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">PAISAJES NEVADOS</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Paisajes</strong></li>
                        <li>Tecnica: <strong>Pasteles</strong></li>
                        <li>Dificultad: <strong>Media</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="paisajes_nevados">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="paisajes_playa_media_pasteles" onclick="alert('tutorial aun no disponible')">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-4.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">PAISAJES NEVADOS</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Paisajes</strong></li>
                        <li>Tecnica: <strong>Pasteles</strong></li>
                        <li>Dificultad: <strong>Media</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_paisajes_playa">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="dibujo_aves_pasteles_animales_carboncillo_media">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/aguila-proceso.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="dibujo-aves.html">DIBUJO DE AVES</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Animales</strong></li>
                        <li>Tecnica: <strong>Carboncillo</strong></li>
                        <li>Dificultad: <strong>Media</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_aves">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="dibujo_perros_animales_pasteles_media" onclick="alert('tutorial aun no disponible')">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-8.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">DIBUJO DE PERROS</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Animales</strong></li>
                        <li>Tecnica: <strong>pasteles</strong></li>
                        <li>Dificultad: <strong>Media</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_perros">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="dibujo_tigres_animales_pasteles_dificil" onclick="alert('tutorial aun no disponible')">
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-9.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">DIBUJO DE TIGRES</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Animales</strong></li>
                        <li>Tecnica: <strong>Pasteles</strong></li>
                        <li>Dificultad: <strong>Dificil</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_tigres">0.0</p>
                    </div>
                </div>
            </figure>

            <figure class="tutoriales_item" id="consejos_varios_facil_otros" onclick="alert('tutorial aun no disponible')"> 
                <div class="portada_tutoriales">
                    <img src="../Imagenes/tutorial-10.jpg" alt="portada">
                </div>
                <div class="descripcion_tutoriales">
                    <div class="titulo_tuto">
                        <h4><a href="#">CONSEJOS VARIOS</a></h4>
                        <img src="../Imagenes/icono-completado.svg" alt="completado" id="icono_completado">
                    </div>
                    <ul>
                        <li>Categoria: <strong>Otros</strong></li>
                        <li>Tecnica: <strong>Varias</strong></li>
                        <li>Dificultad: <strong>Facil</strong></li>
                    </ul>
                    <div class="valoracion">
                        <p class="estrella1"> &#9733; </p>
                        <p class="estrella2"> &#9733; </p>
                        <p class="estrella3"> &#9733; </p>
                        <p class="estrella4"> &#9733; </p>
                        <p class="estrella5"> &#9733; </p>
                    </div>
                    <div class="promedio_wrapper">
                        <p class="promedio" id="promedio_consejos_varios">0.0</p>
                    </div>
                </div>
            </figure>
            
        </div>
    </section>

    <footer>
        <div id="logo_footer">
            <img src="../imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="../imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="../imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="../imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="../imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>

    <script src="../js/nav.js"></script>
    <script src="../js/loader.js"></script>
    <script src="../js/tutoriales.js"></script>
</body>
</html>