// -------------------- IMPORTS -------------------------// 
@use "partials/variables" as v;
@use "partials/reset";
@use "partials/fuentes";
@use "basicos/header";
@use "basicos/nav";
@use "basicos/footer";
@use "basicos/loader";

// -------------------- LAYOUT -------------------------// 
// (vista movil por default)
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 160px 30px auto 300px;
    height: 300vh;
}

#inicio{
    text-decoration: underline;
}

// -------------------- SECTION -------------------------// 
section{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
    grid-column: 100%;
    grid-template-rows: 25% 75%;
    height: 100%;
    width: 100%;
    padding-top: 25px;

    // ---------- PRESENTACION INICIO ---------// 

    #presentacion{
        display: flex;
        flex-direction: row;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        font-family: fuente1;
        color: white;
        background-position: center;
        background-color: rgba($color: #000000, $alpha: .5);
        background-image: url("../Imagenes/portada.jpg");
        background-size: cover;
        background-blend-mode: darken;
        background-repeat: no-repeat;

        #texto_presentacion{
            display: flex;
            flex-direction: column;
            height: 95%;
            width: 80%;
            justify-content: space-evenly;
            align-items: center;
            justify-self: center;
            align-self: center;

            #titulo_presentacion{
                width: 100%;
                filter: none !important;
                cursor: auto;
            }
    
            p{
                text-align: center;
                width: 90%;
            }
    
            #ver_tuto{
                font-family: fuente1;
                font-size: 1.1rem;
                padding: 10px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                box-shadow: 2px 2px 8px 2px rgba($color: #000000, $alpha: .5);
                background: v.$azul2;
                color: v.$fuente3;
            }
    
            #ver_tuto:hover{
                font-size: 1.15rem;
                background: v.$verde1;
                transition: 0.5s;
            }
        }
        
        img{
            margin: 10px;
            width: 35px;
            cursor: pointer;
            filter: grayscale(100%);
        }

        img:hover{
            filter: grayscale(0%);
            transition: 0.5s;
        }
        
    }

    // ---------- DESCRIPCION FUNCIONES ---------//

    #contenedor{
        // contenedor para controlar propiedades flex
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 2/3;

        // ajustes generales
        .descripciones{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 33%;
            width: 100%;
            overflow: hidden;
            font-family: fuente1;
            background-image: url("../Imagenes/fondo-alt-4.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    
            img{
                width: 170px;
            }
    
            h4{
                font-size: 1.5rem;
                margin-bottom: 10px;
                text-decoration: underline;
                a{
                    color: v.$gris1;
                    text-decoration: none;
                }
            }
    
            p{
                text-align: center;
                width: 90%;
                color: v.$gris2;
            }
    
        }
    
        .descripciones:hover{
            img{
                width: 180px;
                transition: 0.5s ease-in-out;
            }
        }

        // ajustes particulares
        #tutoriales_inicio{
            background-image: url("../Imagenes/fondo-alt-3.jpg");

            h4 a{
                color: v.$fuente3;    
            }

            p{
            color: v.$fuente3;    
            }
        }
    }

    
}

// -------------------- ANIMACIONES -------------------------// 
@keyframes fondo{
    0%{
        background-image: url("../Imagenes/imagen-12.jpg");
    }

    50%{
        background-image: url("../Imagenes/imagen-17.jpg");
    }

    100%{
        background-image: url("../Imagenes/aguila-proceso.jpg");
    }
}

// -------------------- MEDIA QUERIES -------------------------// 
// horizontal phones
@media only screen and (max-height: 575.98px) and (orientation: landscape){
    body{
        grid-template-rows: 110px 30px auto 180px !important;
        height: 500vh !important;
    }

    section{
        #presentacion{
            #texto_presentacion{
                width: 50%;
            }
        }
    }

    .descripciones{
        img{
            width: 125px !important;
        }
    }

}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        grid-template-rows: 175px 30px auto 350px;
        height: 200vh;
    }

}

/* Large devices (horizontal tablets / laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        grid-template-rows: 175px 30px auto 350px;
        height: 300vh;

        section{
            #presentacion{
                #texto_presentacion{
                    #titulo_presentacion{
                        width: 55%;
                    }

                    p{
                        line-height: 70px;
                    }

                    #ver_tuto{
                        font-size: 1.5rem;
                    }

                    #ver_tuto:hover{
                        font-size: 1.6rem;
                    }
                }

                img{
                    margin: 0 !important;
                    width: 50px;
                }


            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        grid-template-rows: 175px 30px auto 300px;
        height: 250vh;

        section{
            grid-template-rows: 45% 55%;

            #presentacion{
                h3{
                    font-size: 3rem;
                }

                p{
                    width: 70%;
                    font-size: 2rem;
                    line-height: 3.5rem;
                }

                #ver_tuto{
                    font-size: 1.5rem;
                }

                #ver_tuto:hover{
                    font-size: 1.6rem;
                }
            }

            #contenedor{
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                width: 100%;
                background: v.$gris3;

                .descripciones{
                    width: 30%;
                    height: 75%;
                    border-radius: 10px;
                    background-image: url("../Imagenes/fondo-alt-4.jpg");
                    box-shadow: 3px 3px 10px 5px rgba($color: #000000, $alpha: .3);
                }

                #tutoriales_inicio{
                    background-image: url("../Imagenes/fondo-alt-4.jpg");
                    
                    h4 a{
                        color: v.$gris1 !important;
                    }

                    p{
                        color: v.$gris2;
                    }

                    img{
                        content: url("../Imagenes/icono-tutoriales-alt.png");
                    }
                }
            }

        }
    }
}