// -------------------- IMPORTS -------------------------// 
@use "../partials/variables" as v;

// -------------------- CLASES PARA JS -------------------------// 
#lightbox{
    display: flex;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 300;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

#modal{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    height: 500px;
    width: 85%;
    background: v.$fondoClaro1;
    z-index: 400;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba($color: #000000, $alpha: 0.6);
    animation-name: modal_mobile;
    animation-duration: 0.5s;

    #wrapper_cerrar{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        img{
            width: 60px;
            margin-right: 10px;
            z-index: 500;
            cursor: pointer;
            filter: opacity(60%);
        }

        img:hover{
            filter: opacity(100%);
            transition: 0.5s;
        }
    }

    #contenedor_modal{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/3;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: white;

        img{
            width: 100%;
            height: fit-content;
            align-self: center;
        }

    }

    #botones_modal{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
        width: 90%;
        justify-self: center;
        justify-content:space-between;
        align-items: center;

        img{
            width: 50px;
            z-index: 600;
            filter: opacity(50%);
            cursor: pointer;
        }

        img:hover{
            filter: opacity(100%);
            transition: 0.5s ease-in-out;
        }
    }
}

// -------------------- ANIMACIONES -------------------------//
@keyframes modal_mobile {
    0%{
        width: 42.5%;
        height: 250px;
    }

    100%{
        width: 85%;
        height: 500px;
    }
}

@keyframes modal_mobile_horizontal{
    0%{
        width: 42.5%;
        height: 125px;
    }

    100%{
        width: 85%;
        height: 250px;
    }
}

@keyframes modal_medium {
    0%{
        width: 42.5%;
        height: 500px;
    }

    100%{
        width: 85%;
        height: 1000px;
    }
}

@keyframes modal_large {
    0%{
        width: 42.5%;
        height: 300px;
    }

    100%{
        width: 85%;
        height: 600px;
    }
}

@keyframes modal_extra_large {
    0%{
        width: 42.5%;
        height: 400px;
    }

    100%{
        width: 85%;
        height: 800px;
    }
}

// -------------------- MEDIA QUERIES -------------------------// 
// horizontal phones
@media only screen and (max-height: 575.98px) and (orientation: landscape){
    body{
        #lightbox #modal{
            height: 250px;
            animation-name: modal_mobile_horizontal;

            #wrapper_cerrar img{
                margin-top: 15px;
                width: 45px;
            }

            #contenedor_modal img{
                height: 100% !important;
                width: auto !important;
            }
        }
    }
}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait){
    body{
        #lightbox #modal{
            height: 1000px;
            animation-name: modal_medium;

            #wrapper_cerrar{
                align-items: flex-start;
                padding-top: 20px;
                img{width: 75px;}
            }
        }
    }
}

/* Large devices (horizontal tablets / laptops/ desktops, 992px and up) */
@media only screen and (min-width: 992px){
    body{
        #lightbox #modal{
            height: 600px;
            animation-name:modal_large;

            #botones_modal{
                width: 95% !important;
            }

            #contenedor_modal img{
                height: 100%;
                width:auto;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    body{
        #lightbox #modal{
            height: 700px;
            animation-name: modal_large;
        }
    }
}

/* hyper large monitors (large laptops and desktops, 1920px and up) */
// @media only screen and (min-width: 1366px){
//     body{
//         #lightbox #modal{
//             height: 800px !important;
//             animation-name: modal_extra_large;
//         }
//     }
// }