@use '../partials/' as p;

.menu{
  position: relative;
  margin: p.rem(40) 0 0 p.rem(40);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &__toggle{
    position: relative;
    width: 45px;
    height: 45px;
    background: p.$celeste2;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    transition: 1.25s ;
    z-index: 100;
  }

  &__list{
    position: absolute;
    top:60px;
    left:3px;
    list-style: none;
    transition: 0.5s;
    // transform: rotate(calc(-60deg + -140deg/3 * var(--i)));
    transform: translateY(calc(50px * var(--i)));
    transform-origin:20px;
    scale: 0;
    transition-delay: calc(0.05s * var(--i));
    z-index: 100;

    &--link{
      position: relative;
      display: flex;
      // transform: rotate(calc(300deg + 130deg + 90deg/2 * var(--i)));
      width: 40px;
      height: 40px;
      background:#333;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.25em;
      color: var(--clr);
      box-shadow: 0 3px 4px rgba(0,0,0,0.15);
      transition: 0.5s;
    }

    
  }

  &__list:hover &__list--link{
    font-size: 1.75em;
    box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #333;

  }
  
}

.menu.active .menu__list{
  scale: 1;
}

.menu.active .menu__toggle{
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0,0,0,0.15), 0 0 0 2px #fff, 0 0 0 8px p.$celeste2;
}

.menu__list b{
  position: relative;
  left:p.rem(50);
  bottom:p.rem(30);
  color: #000;
  text-shadow: 0 4px 6px var(--clr);
  opacity: 0;
  transition: 0.5s ease all;
}

.menu__list:hover b{
  opacity: 1;
}