/* Scss Document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th, caption {
  font-weight: normal;
  text-align: left;
}

img, fieldset {
  border: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

q:before, q:after {
  content: "";
}

@font-face {
  font-family: fuente1;
  src: url("/Template/fuentes/Astronomus.ttf");
}
@font-face {
  font-family: fuente2;
  src: url("/Template/fuentes/conthrax-sb.ttf");
}
@font-face {
  font-family: fuente3;
  src: url("/Template/fuentes/Indian Personal Use.ttf");
}
@font-face {
  font-family: fuente4;
  src: url("/Template/fuentes/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: fuente5;
  src: url("/Template/fuentes/LEMONMILK-Medium.otf");
}
@font-face {
  font-family: quicksand;
  src: url("/Template/fuentes/quicksand/Quicksand-Regular.otf");
}
@font-face {
  font-family: hattori;
  src: url("/Template/fuentes/Hattori-Hanzo/Hattori_Hanzo.otf");
}
@font-face {
  font-family: walkway;
  src: url("/Template/fuentes/Walkway/Walkway_Black.ttf");
}
@font-face {
  font-family: tulia;
  src: url("/Template/fuentes/tulia/Tulia_regular.otf");
}
@font-face {
  font-family: bodonitown;
  src: url("/Template/fuentes/Bodonitown/Bodonitown.ttf");
}
@font-face {
  font-family: bebas;
  src: url("/Template/fuentes/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: lora;
  src: url("/Template/fuentes/Lora/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: spectral;
  src: url("/Template/fuentes/Spectral_SC/SpectralSC-Light.ttf");
}
@font-face {
  font-family: stoke;
  src: url("/Template/fuentes/Stoke/Stoke-Light.ttf");
}
@font-face {
  font-family: mate;
  src: url("/Template/fuentes/Mate_SC/MateSC-Regular.ttf");
}
@font-face {
  font-family: port;
  src: url("/Template/fuentes/Port_Lligat_Slab/PortLligatSlab-Regular.ttf");
}
@font-face {
  font-family: goudy;
  src: url("/Template/fuentes/Goudy_Bookletter_1911/GoudyBookletter1911-Regular.ttf");
}
@font-face {
  font-family: della;
  src: url("/Template/fuentes/Della_Respira/DellaRespira-Regular.ttf");
}
header {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("/Template/Imagenes/fondo-lado-izq.png"), url("/Template/Imagenes/fondo-lado-der.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  font-family: fuente1;
}
header #header_logo {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
header #header_logo img {
  width: 225px;
  cursor: pointer;
}
header #header_logo img:hover {
  width: 235px;
  transition: ease-out 0.5s;
}
header #header_opciones {
  display: none;
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  header {
    grid-template-rows: 60% 40%;
  }
  header #header_logo img {
    width: 150px !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    background-size: 50% 100%;
  }
  header #header_opciones {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    justify-content: end;
    align-items: flex-start;
    list-style: none;
  }
  header #header_opciones li {
    display: flex;
    margin-right: 20px;
  }
  header #header_opciones li a {
    text-decoration: none;
    color: white;
    background: #2877ED;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  header #header_opciones li:hover {
    text-decoration: underline;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    background-size: contain;
    grid-template-rows: 70% 30%;
  }
}
#nav {
  overflow: hidden !important;
  z-index: 100;
}

#nav li:hover {
  text-decoration: underline;
}

#nav li a {
  text-decoration: none;
  color: white;
}

#nav li {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: center;
  justify-content: flex-start !important;
  padding-left: 35%;
}
#nav #menu {
  background-image: url("/Template/Imagenes/menu/menu_icon.png");
}
#nav #inicio {
  background-image: url("/Template/Imagenes/menu/home_menu.png");
}
#nav #galeria {
  background-image: url("/Template/Imagenes/menu/galeria_menu.png");
}
#nav #tutoriales {
  background-image: url("/Template/Imagenes/menu/tutoriales_menu.png");
}
#nav #mi_cuenta {
  background-image: url("/Template/Imagenes/menu/user_menu.png");
}
#nav #login {
  background-image: url("/Template/Imagenes/menu/login_menu.png");
}

.nav_vertical_hidden {
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 47px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 113, 205) 51%, rgba(1, 190, 255, 0.8883928571) 94%);
  color: white;
  padding: 0;
  font-family: fuente1;
}
.nav_vertical_hidden .menu {
  display: flex;
  cursor: pointer;
}
.nav_vertical_hidden #menu {
  height: 100%;
  width: 100%;
  background-position-x: 30%;
  justify-content: center;
  align-items: center;
  padding-left: 37%;
}
.nav_vertical_hidden .item {
  display: none;
}

.nav_vertical_visible {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 450px;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 113, 205) 51%, rgba(1, 190, 255, 0.8883928571) 94%);
  color: white;
  padding: 0;
  font-family: fuente1;
}
.nav_vertical_visible li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #nav {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 47px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
  #nav .menu {
    display: none;
  }
  #nav .item {
    display: flex;
  }
  #nav #mi_cuenta {
    display: none;
  }
  #nav #login {
    display: none;
  }
  #nav li {
    background-position-x: 0;
    padding-left: 30px;
  }
  .nav_vertical_hidden {
    display: none;
  }
  .nav_vertical_visible {
    display: flex;
    flex-direction: row;
  }
}
footer {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 4/5;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #4693FF;
  background-image: url("/Template/Imagenes/fondo-alt-2b.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}
footer #logo_footer {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
footer #logo_footer img {
  width: 175px;
}
footer #descripcion_footer {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-family: quicksand;
  text-align: center;
  color: white;
  font-size: 1rem;
}
footer #descripcion_footer img {
  width: 40px;
  margin-left: 10px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  footer #logo_footer img {
    width: 125px !important;
  }
  footer #descripcion_footer p {
    font-size: 0.8rem;
  }
  footer #descripcion_footer a img {
    width: 35px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    padding-bottom: 20px;
  }
  footer #logo_footer img {
    width: 190px;
  }
  footer #descripcion_footer {
    flex-wrap: wrap !important;
    font-size: 1.5rem;
  }
  footer #descripcion_footer img {
    width: 45px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer #logo_footer {
    align-items: center;
  }
  footer #logo_footer img {
    width: 200px;
  }
  footer #descripcion_footer {
    flex-wrap: wrap !important;
    font-size: 1.25rem;
  }
}
.lightbox_loader {
  display: flex;
  position: absolute;
  grid-column: 1/2;
  grid-row: 4/5;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding-top: 500px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Medium & large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .lightbox_loader {
    padding-top: 350px !important;
  }
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 160px 30px auto 300px;
  height: 300vh;
}

#inicio {
  text-decoration: underline;
}

section {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/4;
  grid-column: 100%;
  grid-template-rows: 35% 65%;
  height: 100%;
  width: 100%;
  padding-top: 25px;
}
section #presentacion {
  display: flex;
  flex-direction: row;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-family: fuente1;
  color: white;
  background-position: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../Imagenes/portada.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  overflow: hidden;
}
section #presentacion #texto_presentacion {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
  align-self: center;
}
section #presentacion #texto_presentacion #titulo_presentacion {
  width: 150%;
  filter: none !important;
  cursor: auto;
}
section #presentacion #texto_presentacion p {
  text-align: center;
  width: 95%;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: quicksand;
  font-weight: lighter;
}
section #presentacion #texto_presentacion #ver_tuto {
  font-family: quicksand;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
  background: #0071CD;
  color: white;
}
section #presentacion #texto_presentacion #ver_tuto:hover {
  filter: brightness(120%);
  transition: 0.5s;
}
section #presentacion img {
  margin: 10px;
  width: 35px;
  cursor: pointer;
  filter: grayscale(100%);
}
section #presentacion img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}
section #contenedor {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2/3;
}
section #contenedor .descripciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 100%;
  overflow: hidden;
  font-family: fuente1;
  background-image: url("../Imagenes/fondo-alt-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section #contenedor .descripciones img {
  width: 140px;
}
section #contenedor .descripciones h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
}
section #contenedor .descripciones h4 a {
  color: #454444;
  text-decoration: none;
}
section #contenedor .descripciones p {
  text-align: center;
  width: 90%;
  color: grey;
  font-family: quicksand;
}
section #contenedor .descripciones:hover img {
  width: 150px;
  transition: 0.5s ease-in-out;
}
section #contenedor #tutoriales_inicio {
  background-image: url("../Imagenes/fondo-alt-3.jpg");
}
section #contenedor #tutoriales_inicio h4 a {
  color: white;
}
section #contenedor #tutoriales_inicio p {
  color: white;
}

@-webkit-keyframes fondo {
  0% {
    background-image: url("../Imagenes/imagen-12.jpg");
  }
  50% {
    background-image: url("../Imagenes/imagen-17.jpg");
  }
  100% {
    background-image: url("../Imagenes/aguila-proceso.jpg");
  }
}

@keyframes fondo {
  0% {
    background-image: url("../Imagenes/imagen-12.jpg");
  }
  50% {
    background-image: url("../Imagenes/imagen-17.jpg");
  }
  100% {
    background-image: url("../Imagenes/aguila-proceso.jpg");
  }
}
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  body {
    grid-template-rows: 110px 45px auto 180px !important;
    height: 500vh !important;
  }
  section #presentacion #texto_presentacion {
    width: 90%;
  }
  section #presentacion #texto_presentacion p {
    font-size: 1rem !important;
  }
  section #presentacion #texto_presentacion #titulo_presentacion {
    width: 80%;
  }
  .descripciones img {
    width: 125px !important;
  }
}
/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    grid-template-rows: 175px 45px auto 350px;
    height: 200vh;
  }
  body section #presentacion #titulo_presentacion {
    width: 80% !important;
  }
  body section #presentacion #texto_presentacion p {
    font-size: 1.8rem !important;
    line-height: 2.5rem;
  }
}
/* Large devices (horizontal tablets / laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    grid-template-rows: 150px 45px auto 350px;
    height: 300vh;
  }
  body section #presentacion #texto_presentacion #titulo_presentacion {
    width: 55%;
  }
  body section #presentacion #texto_presentacion p {
    line-height: 70px;
  }
  body section #presentacion #texto_presentacion #ver_tuto {
    font-size: 1.5rem;
  }
  body section #presentacion img {
    margin: 0 !important;
    width: 50px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    height: 250vh;
  }
  body section {
    grid-template-rows: 45% 55%;
  }
  body section #presentacion #titulo_presentacion {
    width: 55% !important;
  }
  body section #presentacion h3 {
    font-size: 3rem;
  }
  body section #presentacion p {
    width: 70%;
    font-size: 2rem;
    line-height: 3.5rem;
  }
  body section #presentacion #ver_tuto {
    font-size: 1.5rem;
  }
  body section #contenedor {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background: lightgrey;
  }
  body section #contenedor .descripciones {
    width: 30%;
    height: 75%;
    border-radius: 10px;
    background-image: url("../Imagenes/fondo-alt-4.jpg");
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.3);
  }
  body section #contenedor #tutoriales_inicio {
    background-image: url("../Imagenes/fondo-alt-4.jpg");
  }
  body section #contenedor #tutoriales_inicio h4 a {
    color: #454444 !important;
  }
  body section #contenedor #tutoriales_inicio p {
    color: grey;
  }
  body section #contenedor #tutoriales_inicio img {
    content: url("../Imagenes/icono-tutoriales-alt.png");
  }
}/*# sourceMappingURL=index.css.map */