@use 'variables' as v;

// ------------------- NAV -------------------- // 
// ajustes generales
#nav li{
    list-style: none;
}

#nav li a {
    text-decoration: none;
    color: v.$fuente3;
}

// estas clase se utiliza se accede desde un dispositivo movil
.nav_vertical_hidden{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: v.$celeste2;
    color: v.$fuente3;
    padding: 0;
    font-family: fuente1;

    .menu{
        display: flex;
        cursor: pointer;
    }

    .item{
        display: none;
    }
}

.nav_vertical_visible{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    background: v.$celeste2;
    color: v.$fuente3;
    padding: 0;
    font-family: fuente1;

    li{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid v.$celeste1;
        height: 100%;
        width: 100%;
    }
}

//--------------------------- MEDIA QUERIES -------------------------// 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #nav{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        height: 40px;

        .menu{
            display: none;
        }

        .item{
            display: flex;
        }

        #mi_cuenta{
            display: none;
        }

        #login{
            display: none;
        }

    }

    // se "desactivan" las clases con los estilos para res. movil.
    .nav_vertical_hidden{
        display: none ;
    }

    .nav_vertical_visible{
        display: flex;
        flex-direction: row;
    }
}