//---------- VARIABLES ------------//

// colores de relleno & fondo: 
$celeste1:#4693FF;
$celeste2: #2877ED;
$celeste3: #6FAEFE;
$gris1: #333333;
$gris2: grey;
$fondoClaro1: white;

// colores fuente
$fuente1: #333333;
$fuente2: black;
$fuente3: white;
$fuente4: #2877ED;

//Otros Colores
$exito:#119200;
$warning:#f66060;
$correcto:#1ed12d;
$incorrecto:#bb2929;