// -------------------- IMPORTS -------------------------// 
@use "../partials/variables" as v;
@use "../partials/reset";
@use "../partials/fuentes";

// -------------------- CONTENIDO SECCIONES -------------------------// 
#contenido{
    display:grid;
    grid-template-columns: 100%;
    grid-auto-rows: 40% 55% 5%;
    height: 90%;
    width: 90%;
    background: white;
    justify-self: flex-start;
    align-self: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px v.$transparente;
    overflow: hidden;
    background-image: url("../Imagenes/fondo-alt-7.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: fuente1;
    
    #portada{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 30px;
        background: v.$gris3;

        h3{
            font-size: 1.75rem;
            text-decoration: underline;
            text-align: center;
        }

        img{
            width: 85%;
            box-shadow: 1px 1px 10px 5px v.$transparente;
            cursor: pointer;
        }
    }

    // ajustes particulares:
    #paso1,#paso2,#paso3,#video{display: none;}

    .seccion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-column: 1/2;
        grid-row: 2/3;
        animation-name: efecto_seccion;
        animation-duration: 0.5s;
        img{width: 100px;}
        #cabello{
            display: block;
            margin: auto;
            padding: 10px;
            width: 200px;
        }
        h4{
            text-decoration: underline;
            font-size: 1.7rem;
            text-align: center;
            margin: 10px;
        }
        ol{
            width: 90%;
            li{
                margin-bottom: 10px;
                b{text-decoration: underline;}
            }

        }
        p{
            width: 90%;
        }
    }

    #cambiar_pagina{
        display: flex;
        grid-column: 1/2;
        grid-row: 3/4;
        justify-content: center;
        align-items: center;
        letter-spacing: 5px;
        p{
            cursor: pointer;
            filter: opacity(70%);
        }
        p:hover{
            filter: opacity(100%);
            transition: 0.5s;
        }
    }

}

//--------------------- ANIMACIONES -----------------------//
@keyframes efecto_seccion{
    0%{filter: opacity(0%);}
    100%{filter: opacity(100%);}
}

//--------------------- MEDIA QUERIES -----------------------//
// horizontal phones
@media only screen and (max-height: 575.98px) and (orientation: landscape){
    // en esta vista se modifica el grid
    #contenido{
        grid-template-columns: 30% 70%;
        grid-template-rows: 90% 10%;

        #portada{
            grid-column: 1/2;
            grid-row: 1/3;
            background: v.$gris2;
            //height: 100%;
            //width: 100%;
            margin: 0;
            h3{
                font-size: 1.5rem;
                text-decoration: none;
                color: v.$fuente3;
            }
        }

        .seccion{
            grid-column: 2/3;
            grid-row: 1/2;
        }

        #video{
            video{
                height: 300px;
            }
        }

        #cambiar_pagina{
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px){
    #contenido{
        grid-template-columns: 100%;
        grid-template-rows: 35% 55% 10%;

        #portada{
            padding-top: 20px;
            img{
                margin-top: 20px;
                width: 350px;
            }
            h3{font-size: 2.5rem;}
        }

        .seccion{
            img{width: 200px;}
            h4{font-size: 3rem;}
            p, ol{font-size: 1.5rem; line-height: 2.5rem;}
        }

        #cambiar_pagina{
            p{font-size: 1.5rem}
        }
    }
}