// -------------------- IMPORTS -------------------------// 
@use "partials/variables" as v;
@use "partials/reset";
@use "partials/fuentes";
@use "basicos/header";
@use "basicos/nav";
@use "basicos/footer";

// -------------------- LAYOUT -------------------------// 
// (vista movil por default)
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.32% 0.7% 93.73% 3.25%;
    height: 1000vh;
}

#galeria{
    text-decoration: underline;
}

// -------------------- SECTION -------------------------// 

section{
    display: grid;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px !important;
    box-sizing: border-box;
    padding: 15px;
    background: black;

    .item_galeria{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        overflow: hidden;
        background: v.$gris1;

        img{
            height: 150%;
            width: auto;
        }
    }

    .item_galeria:hover{
        filter: brightness(130%);
        transition: 1s ease-in-out;
        cursor: pointer;
    }

}

// -------------------- CLASES PARA JS -------------------------// 
#lightbox{
    display: flex;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 300;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

#modal{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    height: 500px;
    width: 85%;
    background: v.$fondoClaro1;
    z-index: 400;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba($color: #000000, $alpha: 0.6);

    #wrapper_cerrar{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        img{
            width: 60px;
            margin-right: 10px;
            z-index: 500;
            cursor: pointer;
        }
    }

    #contenedor_modal{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/3;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: white;

        img{
            width: 100%;
            height: fit-content;
            align-self: center;
        }

    }

    #botones_modal{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
        width: 90%;
        justify-self: center;
        justify-content:space-between;
        align-items: center;

        img{
            width: 25px;
            z-index: 600;
            filter: opacity(70%);
            cursor: pointer;
        }

        img:hover{
            filter: opacity(100%);
            transition: 0.5s ease-in-out;
        }
    }
}

// -------------------- MEDIA QUERIES -------------------------// 
// horizontal phones
@media only screen and (max-height: 575.98px) and (orientation: landscape){
    body{
        grid-template-rows: 5% 1.5% 86% 7.5% !important;
        height: 750vh !important;

        #lightbox #modal{
            height: 250px;

            #wrapper_cerrar img{
                margin-top: 15px;
                width: 45px;
            }

            #contenedor_modal img{
                height: 100% !important;
                width: auto !important;
            }
        }
    }
}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait){
    body{
        grid-template-rows: 7% 2% 76% 15%;
        height: 200vh;

        #lightbox #modal{
            height: 1000px;

            #wrapper_cerrar{
                align-items: flex-start;
                padding-top: 20px;
                img{width: 75px;}
            }
        }
    }
}

/* Large devices (horizontal tablets / laptops/ desktops, 992px and up) */
@media only screen and (min-width: 992px){
    body{
        grid-template-rows: 7% 2% 81% 10%;
        height: 300vh;

        #lightbox #modal{
            height: 600px;

            #botones_modal{
                width: 95% !important;
            }

            #contenedor_modal img{
                height: 100%;
                width:auto;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    body{
        grid-template-rows: 7% 2% 76% 15%;;
        height: 250vh;

        section{
            margin-top: 10px;
        }
    }
}