// -------------------- IMPORTS -------------------------// 
@forward "partials";

// -------------------- LAYOUT -------------------------// 
// (vista movil por default)
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 2% 81% 10%;
    height: 300vh;
}

#inicio{
    text-decoration: underline;
}



