<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Inicio - Arte Realista</title>
</head>

<body>

    <header>
        <div id="header_logo">
            <img src="imagenes/logo-principal.svg" alt="logo">
        </div>
        <ul id="header_opciones">
            <li> <a href="pages/registro.html" id="header_login"> Login / registro </a></li> <li>
            <li> <a href="#" id="header_cuenta">  &#129489; Mi Cuenta </a></li> <li>
        </ul>
    </header>

    <nav id="nav" class="nav_vertical_hidden">
        <a id="menu" class="menu"> Abrir Menu</a> 
        <a href="index.html" id="inicio" class="item"> Inicio </a> 
        <a href=# id="galeria" class="item">Galeria </a> 
        <a href=# id="tutoriales" class="item"> Tutoriales </a> 
        <a href="pages/registro.html" id="login" class="item"> Login / registro</a>
        <a href=# id="mi_cuenta" class="item"> Mi Cuenta </a> 
    </nav>

    <footer>
        <div id="logo_footer">
            <img src="imagenes/logo-principal-blanco.svg" alt="logo">
        </div>
        <div id="descripcion_footer">
            <p>si deseas contactarte conmigo puedes hacerlo a traves de mis redes</p>
            <br>
            <a href="https://www.instagram.com/mnnastrai_art/"><img src="imagenes/insta-icon.svg" alt="logo instagram"></a>
            <a href="#"><img src="imagenes/face-icon.svg" alt="logo facebook"></a>
            <a href="mailto:mnnastrai24@gmail.com"><img src="imagenes/mail-icon.svg" alt="logo mail"></a>
            <a href="https://github.com/maxtheprogrammer98"><img src="imagenes/github-icon.svg" alt="logo github"></a>
        </div>
    </footer>
    
    <script src="js/nav.js"></script>
</body>
</html>