//----------------- FUENTES -----------------//
@font-face {
    font-family: fuente1;
    src: url("/Template/fuentes/Astronomus.ttf");
}

@font-face {
    font-family: fuente2;
    src: url("/Template/fuentes/conthrax-sb.ttf");
}









