//---------- VARIABLES ------------//

// colores de relleno & fondo: 
$celeste1:#4693FF;
$celeste2: #2877ED;
$celeste3: #6FAEFE;
$gris1: #333333;
$gris2: grey;
$gris3: lightgrey;
$fondoClaro1: white;

// colores fuente
$fuente1: #333333;
$fuente2: black;
$fuente3: white;
$fuente4: #2877ED;