//---------- VARIABLES ------------//

// colores de relleno & fondo: 
// paleta A
$celeste1:#4693FF;
$celeste2: #2877ED;
$celeste3: #6FAEFE;
$gris1: #333333;
$gris2: grey;
$gris3: lightgrey;
$fondoClaro1: white;
$negro1: black;
$transparente: rgba(0,0,0,.5);
// paleta B
$azul1:#0062C7;
$azul2: #0071CD;
$verde1: #01BBBE;
$verde2: #01BBBE;
$degradado: linear-gradient(180deg, rgba(0,113,205,1) 51%, rgba(1,190,255,0.8883928571428571) 94%);
$degradado2: linear-gradient(180deg, rgba(1,187,190,1) 33%, rgba(0,113,205,1) 100%);
$degradado3: linear-gradient(180deg, rgba(1,187,190,1) 33%, rgba(0,129,131,1) 100%);
$degradado4: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(133,133,133,1) 90%);

// colores fuente
$fuente1: #333333;
$fuente2: black;
$fuente3: white;
$fuente4: #2877ED;
$fuente5: grey;
$fuente6: #7393B3;
$fuente7: #7393B3;
$fuente8: #497262;